<html>
<head>
	<title>H-RAM</title>
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{%  static 'src/access.css' %}">
</head>

<body>
	<h2 align="center">Indian Institute of Technology Patna</h2>
	<h3 align="center">Hostel Room Allocation System</h3>
	<form action="" method="POST">
		<input type="submit" value="Book Room" id="button">
	</form>
	<form action="" method="POST">
		<input type="submit" value="Complain" id="button">
	</form>
	<form action="" method="POST">
		<input type="submit" value="Change Room Alloted" id="button">
	</form>
	<form action="" method="POST">
		<input type="submit" value="Inventories" id="button">
	</form>
	<form action="" method="POST">
		<input type="submit" value="webmails" id="button">
	</form>


</body>
</html>
