<html>
<head>
	<title>Create Password</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "src/forms.css" %}">
</head>
<body>
	<form action="/EVoting/createElectionPasswords/" method="POST">
		<fieldset>
			<legend align = "center"><h2>Create Passphrases</h2></legend>
		<div id="errors">
			{% if errors %}
				{% for error in errors %}
				 	{{ error }} <br/>
				{% endfor %}
			{% endif %}
		</div>
		<lable>Evil Passphrase : </lable><input type="password" name="evilpassword"><br><br>
		<lable>Good Passphrase : </lable><input type="password" name="goodpassword"><br><br>
		<input type="submit" value="submit" name="submit">
	</fieldset>
	</form>
</body>
</html>