<html>
<head>
<title> Nomination Form </title>
{% load staticfiles %}
	<link rel="stylesheet" href="{% static "src/forms.css" %}">
</head>
<script type="text/javascript">
	var selectHostel = document.getElementById("hostel");
	document.getElementById("test").innerHTML = e;
	function callfunction()
	{
		var i=0;
		var TotalNumberOfPositions = {{positions|length}};
		var positions = []
		var e = document.getElementById("hostel").value;
		document.getElementById("test").innerHTML = e;

		/*for(i=0;i<TotalNumberOfPositions;i++)
		{
			var temp = 
		}*/
	}
	function emptyAllInputs()
	{
		document.getElementById("hostel").value = "";
		document.getElementById("position").value = "";
	}
	
</script>
<body onload="emptyAllInputs()">
	<!--{% if positions %}
		{% for position in positions %}
		 	{{ position }} <br/>
		{% endfor %}
	{% endif %}
	{% if hostels %}
		{% for hostel in hostels %}
		 	{{ hostel }} <br/>
		{% endfor %}
	{% endif %}-->
	<p id="test"> </p>
	<form action="/EVoting/validateCandidate/" method="POST">
		<fieldset>
			<legend align = "center"><h2>Nomination Form</h2></legend>
			<div id="errors">
				{{errors|unordered_list}}
			</div>
			<lable><b>Candidate's RollNo : </b></lable><input type="text" name="candidatesRollno"><br><br>
			<lable><b>Candidate's Name : </b></lable><input type="text" name="candidatesName"><br><br>
			<!--<lable><b>Hostel : </b></lable>
			{% if hostels %}
			<select type="text" name = "hostel" onchange="callfunction()" id="hostel">
				{% for hostel in hostels %}
					<option value = "{{hostel}}" id = "7">	{{hostel}}
					</option>
				{% endfor %}
			</select>
			{% endif %}
			<br><br>
			<lable><b>Position : </b></lable>
			{% if positions %}
				{% for position in positions %}
					
					<select type="text" id="{{forloop.counter}}">
						{% for p in position %}
						<option value={{p}}>{{p}}
						</option>
						{% endfor %}
					</select><br><br>
					
				{% endfor %}
			{% endif %}-->
			<lable><b>Hostel : </b></lable><input type="text" name="hostel"><br><br>
			<lable><b>Position : </b></lable><input type="text" name="position"><br><br>
			<lable><b>First Supporter's Name : </b></lable><input type="text" name="supporter1"><br><br>
			<lable><b>Second Supporter's Name : </b></lable><input type="text" name="supporter2"><br><br>
			<input type="submit" value="submit" name="submit">
		</fieldset>
	</form>

</body>
</html>