<html>
<head>
	<title> Room Prefrences </title>
	{% load staticfiles %}
	<style>
body {
	background-image: url("{% static 'src/background.jpg'%}");
}
</style>
	<link rel="icon" type="image/png" href="{% static 'src/iitplogo.png'%}" />
	<link type="text/css" rel="stylesheet" href="{%  static 'src/floors.css' %}">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type = "text/javascript" src="{%  static 'src/jquery-1.4.2.min.js'%}"></script>
<script type = "text/javascript">
	var images = ["{% static 'src/whiteSquare.png' %}","{% static 'src/greenSquare.png' %}"]
	var preferenceOrder = [];
	function toggle(no)
	{
		var number = no.toString();
		var idold = document.getElementById(number).style.opacity;
		if(idold == "0.5")
		{
			document.getElementById(number).style.opacity = "1";
			document.getElementById(number).style.background = "none";
			var index = preferenceOrder.indexOf(number);
			preferenceOrder.splice(index,1);
			printPreferenceOrder(preferenceOrder);
		}
		else
		{
			document.getElementById(number).style.opacity = "0.5";
			document.getElementById(number).style.background = "#af0";
			preferenceOrder.push(number);
			var field = document.getElementsByName(number);
			printPreferenceOrder(preferenceOrder);
		}
		
	}
	function printPreferenceOrder(listOfPreferences)
	{
		var i = 0;
		var temp;
		document.getElementById("preferences").innerHTML = "<h3>Preference Order </h3><br>";
		for(i=0;i<listOfPreferences.length;i++)
		{
			document.getElementById("preferences").innerHTML = document.getElementById("preferences").innerHTML + (i+1) + ". " + listOfPreferences[i] + "<br>";
		}
	}
	function submitForm(){
		document.getElementById("preference").value = preferenceOrder.toString();
		document.getElementById("preferences").innerHTML = document.getElementById("preferences").innerHTML + preferenceOrder.toString() + "<br>";
		document.getElementById("form1").submit();
	}
	function loadfloor1()
	{
		$("#floor1").show();
		$("#floor2").hide();
		$("#floor3").hide();
	}
	function loadfloor2()
	{
		$("#floor2").show();
		$("#floor1").hide();
		$("#floor3").hide();
	}
	function loadfloor3()
	{
		$("#floor3").show();
		$("#floor2").hide();
		$("#floor1").hide();
	}
	function dothis()
	{
		$("#floor2").hide();
		$("#floor3").hide();
	}
	

</script>

<body onload="dothis()">

	<h2 align = "center" style="color:white">Hostel Room Allocation</h2>

	<table class = "floornav" cellspacing = "1">
		<tr>
			<td align="center"><button onclick="loadfloor1()">1<sup>st</sup> Floor</button></td>
			<td align="center"><button onclick="loadfloor2()">2<sup>nd</sup> Floor</button></td>
			<td align="center"><button onclick="loadfloor3()">3<sup>rd</sup> Floor</button></td>
		</tr>
	</table>
	
	<div id = "floor1" >
		<img class = "plan" src = "{% static 'src/gridtest.jpg'%}">
		<table class = "grid" cellspacing = "1" border="2">
			<tr>
				<td id = "101" onclick = "toggle('101')"></td>
				<td id = "102" onclick = "toggle('102')"></td>
				<td id = "103" onclick = "toggle('103')"></td>
				<td id = "104" onclick = "toggle('104')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "105" onclick = "toggle('105')"></td>
				<td id = "106" onclick = "toggle('106')"></td>
				<td id = "107" onclick = "toggle('107')"></td>
				<td id = "108" onclick = "toggle('108')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "109" onclick = "toggle('109')"></td>
				<td id = "110" onclick = "toggle('110')"></td>
				<td id = "111" onclick = "toggle('111')"></td>
				<td id = "112" onclick = "toggle('112')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "113" onclick = "toggle('113')"></td>
				<td id = "114" onclick = "toggle('114')"></td>
				<td id = "115" onclick = "toggle('115')"></td>
				<td id = "116" onclick = "toggle('116')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "117" onclick = "toggle('117')"></td>
				<td id = "118" onclick = "toggle('118')"></td>
				<td id = "119" onclick = "toggle('119')"></td>
				<td id = "120" onclick = "toggle('120')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "121" onclick = "toggle('121')"></td>
				<td id = "122" onclick = "toggle('122')"></td>
				<td id = "123" onclick = "toggle('123')"></td>
				<td id = "124" onclick = "toggle('124')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "125" onclick = "toggle('125')"></td>
				<td id = "126" onclick = "toggle('126')"></td>
				<td id = "127" onclick = "toggle('127')"></td>
				<td id = "128" onclick = "toggle('128')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "129" onclick = "toggle('129')"></td>
				<td id = "130" onclick = "toggle('130')"></td>
				<td id = "131" onclick = "toggle('131')"></td>
				<td id = "132" onclick = "toggle('132')"></td>
			</tr>
		</table>
	</div>

	<div id = "floor2" >
		<img class = "plan" src = "{% static 'src/gridtest2.jpg'%}">
		<table cellspacing = "0" border="2" class = "grid">
			<tr>
				<td id = "201" onclick = "toggle('201')"></td>
				<td id = "202" onclick = "toggle('202')"></td>
				<td id = "203" onclick = "toggle('203')"></td>
				<td id = "204" onclick = "toggle('204')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "205" onclick = "toggle('205')"></td>
				<td id = "206" onclick = "toggle('206')"></td>
				<td id = "207" onclick = "toggle('207')"></td>
				<td id = "208" onclick = "toggle('208')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "209" onclick = "toggle('209')"></td>
				<td id = "210" onclick = "toggle('210')"></td>
				<td id = "211" onclick = "toggle('211')"></td>
				<td id = "212" onclick = "toggle('212')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "213" onclick = "toggle('213')"></td>
				<td id = "214" onclick = "toggle('214')"></td>
				<td id = "215" onclick = "toggle('215')"></td>
				<td id = "216" onclick = "toggle('216')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "217" onclick = "toggle('217')"></td>
				<td id = "218" onclick = "toggle('218')"></td>
				<td id = "219" onclick = "toggle('219')"></td>
				<td id = "220" onclick = "toggle('220')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "221" onclick = "toggle('221')"></td>
				<td id = "222" onclick = "toggle('222')"></td>
				<td id = "223" onclick = "toggle('223')"></td>
				<td id = "224" onclick = "toggle('224')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "225" onclick = "toggle('225')"></td>
				<td id = "226" onclick = "toggle('226')"></td>
				<td id = "227" onclick = "toggle('227')"></td>
				<td id = "228" onclick = "toggle('228')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "229" onclick = "toggle('229')"></td>
				<td id = "230" onclick = "toggle('230')"></td>
				<td id = "231" onclick = "toggle('231')"></td>
				<td id = "232" onclick = "toggle('232')"></td>
			</tr>
		</table>
	</div>

	<div id = "floor3" >
		<img class = "plan" src = "{% static 'src/gridtest.jpg'%}">
		<table cellspacing = "0" border="2" class = "grid">
			<tr>
				<td id = "301" onclick = "toggle('301')"></td>
				<td id = "302" onclick = "toggle('302')"></td>
				<td id = "303" onclick = "toggle('303')"></td>
				<td id = "304" onclick = "toggle('304')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "305" onclick = "toggle('305')"></td>
				<td id = "306" onclick = "toggle('306')"></td>
				<td id = "307" onclick = "toggle('307')"></td>
				<td id = "308" onclick = "toggle('308')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "309" onclick = "toggle('309')"></td>
				<td id = "310" onclick = "toggle('310')"></td>
				<td id = "311" onclick = "toggle('311')"></td>
				<td id = "312" onclick = "toggle('312')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "313" onclick = "toggle('313')"></td>
				<td id = "314" onclick = "toggle('314')"></td>
				<td id = "315" onclick = "toggle('315')"></td>
				<td id = "316" onclick = "toggle('316')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "317" onclick = "toggle('317')"></td>
				<td id = "318" onclick = "toggle('318')"></td>
				<td id = "319" onclick = "toggle('319')"></td>
				<td id = "320" onclick = "toggle('320')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "321" onclick = "toggle('321')"></td>
				<td id = "322" onclick = "toggle('322')"></td>
				<td id = "323" onclick = "toggle('323')"></td>
				<td id = "324" onclick = "toggle('324')"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id = "325" onclick = "toggle('325')"></td>
				<td id = "326" onclick = "toggle('326')"></td>
				<td id = "327" onclick = "toggle('327')"></td>
				<td id = "328" onclick = "toggle('328')"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td id = "329" onclick = "toggle('329')"></td>
				<td id = "330" onclick = "toggle('330')"></td>
				<td id = "331" onclick = "toggle('331')"></td>
				<td id = "332" onclick = "toggle('332')"></td>
			</tr>
		</table>
	</div>

	
	<div id = "preferences" class = "pref">
		<h3>Preference Order</h3>
	</div>

	<div id = "navbar" >
		<table class = "submitbutton">
			<tr>
		<td align="center"><form action = "/bookRoom/" method = "POST" id = "form1"><button onclick = "submitForm()">Submit</button></form></td>
			</tr>
		</table>
	</div>

</body>
</html>
