<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static "src/login.css" %}">
<title>H-RAM</title>
</head>
<body>
<div id="error">
		{% if errors %}
			{% for error in errors %}
				{{ error }}<br/>
			{% endfor %}
		{% endif %}
</div>
  <section class="container">
    <div class="login">
      <h1 align = "center">Login</h1>
      <form action = "/checkSignin/" method="post">
        <p align = "center"><input type="text" name="username" value="" placeholder="Username"></p>
        <p align = "center"><input type="password" name="paswrd" value="" placeholder="Password"></p>
        <p align = "center" class="submit"><input type="submit" name="submit" value="Login" id="login"></p>
      </form>
    </div>

    </section>
</body>
</html>
