<html>
<head>
	<title>Testing </title>
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{%  static 'src/tables.css' %}">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type = "text/javascript">
	var images = ["{% static 'src/whiteSquare.png' %}","{% static 'src/greenSquare.png' %}"]
	function toggle(name,no)
	{
		var str1 = "";
		//var id = imageNumber.toString();
		//var id = str1.concat(imagenumber);
		//var source = document.getElementById(id).src;
		//if(source == images[0])
		//	document.getElementById(id).src = images[1];
		//else
		//	document.getElementById(id).src = images[0];
		var idname = name.toString();
		number = no.toString();
		var idold = document.getElementById(idname).style.background;
		var id = idold.slice(25);
		if(id == "green")
		{
			document.getElementById(idname).style.background = "yellow";
			var field = document.getElementsByName(idname);
			field.value = "-1";
		}
		else
		{
			document.getElementById(idname).style.background = "green";
			var field = document.getElementsByName(idname);
			document.getElementById("hello").innerHTML = number + "   " + document.getElementsByName(idname).value;
			document.getElementsByName(idname).value = number;
			document.getElementById("hello").innerHTML = number + "   " + document.getElementsByName(idname).value;
		}//var idold = document.getElementById("first").style.background;
		//var id = idold.slice(25);
		
	}
	function submitForm(){
	
	document.getElementById("form1").submit();
	$('body').append("HI its working");
	}
	

</script>

<body>
	<table align="center" cellspacing = "10" border="1">
		<tr>
			<a href="#"><td id="first" onclick="toggle('first','301')">&nbsp;</td></a>
			<a href="#"><td id="second" onclick="toggle('second','302')">&nbsp;</td></a>
			<a href="#"><td id="third" onclick="toggle('third','303')">&nbsp;</td></a>
		</tr>
		<tr>
			<a href="#"><td id="fourth" onclick="toggle('fourth','304')">&nbsp;</td></a>
			<a href="#"><td id="fifth" onclick="toggle('fifth','305')">&nbsp;</td></a>
			<a href="#"><td id="sixth" onclick="toggle('sixth','306')">&nbsp;</td></a>
		</tr>
		<tr>
			<a href="#"><td id="seventh" onclick="toggle('seventh','307')">&nbsp;</td></a>
			<a href="#"><td id="eight" onclick="toggle('eight','308')">&nbsp;</td></a>
			<a href="#"><td id="nineth" onclick="toggle('nineth','309')">&nbsp;</td></a>
		</tr>
	</table>
	<div id="hello"></div>
	<form action="/bookRoom/" method="POST" id = "form1">
		<input type="hidden" name ="first" id ="first" value="-1">
		<input type="hidden" name ="second" id ="second" value="-1">
		<input type="hidden" name ="third" id ="third" value="-1">
		<input type="hidden" name ="fourth" id ="fourth" value="-1">
		<input type="hidden" name ="fifth" id ="fifth" value="-1">
		<input type="hidden" name ="sixth" id ="sixth" value="-1">
		<input type="hidden" name ="seventh" id ="seventh" value="-1">
		<input type="hidden" name ="eight" id ="eight" value="-1">
		<input type="hidden" name ="nineth" id ="nineth" value="-1">
		<button onclick = "submitForm()">Submit</button>
	</form>



</body>
</html>
