body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}
form{
	margin-left: 25%;
	margin-top:10%;
	border:1px;
	width:50%;
}
fieldset{
	padding-left:5%;
	padding-top:2%;
}
select{
	width:30%;
	height:25px;
	border-radius: 2px;
	border:0;
}
input{
	width:30%;
	height:25px;
	border-radius:2px;
	border:0;
}
#errors{
	color:red;
	font-weight: bold;
}

